<div class="root">
  <uc-config
    #config
    [attr.ctx-name]="uploaderCtxName"
    [attr.unsplash-access-key]="unsplashAccessKey"
    pubkey="a6ca334c3520777c0045"
    multiple="true"
    sourceList="local, url, camera, dropbox, gdrive, unsplash"
    confirmUpload="false"
    removeCopyright="true"
    imgOnly="true"
  ></uc-config>

  <uc-file-uploader-regular
    [attr.ctx-name]="uploaderCtxName"
    [class]="uploaderClassName"
    [class.uc-dark]="theme === 'dark'"
    [class.uc-light]="theme === 'light'"
  ></uc-file-uploader-regular>

  <uc-upload-ctx-provider
    #ctxProvider
    [attr.ctx-name]="uploaderCtxName"
    (change)="handleChangeEvent($event)"
    (modal-close)="handleModalCloseEvent($event)"
  ></uc-upload-ctx-provider>

  @if (errors.length > 0) {
    <div class="errors">
      @for (err of errors; track $index) {
        <p class="error" role="alert">{{ err.name }}: {{ err.message }}</p>
      }
    </div>
  }

  <div class="previews">
    @for (file of files; track file.cdnUrl) {
      <div class="preview">
        <img
          class="preview-image"
          src="{{ file.cdnUrl + '/-/preview/-/resize/x200/' }}"
          width="100"
          [alt]="file.fileInfo.originalFilename"
          [title]="file.fileInfo.originalFilename"
        />

        <button class="preview-remove-button" type="button" (click)="handleRemoveClick(file.uuid)">
          ×
        </button>
      </div>
    }
  </div>
</div>
