/*
  Note: File Uploader styles are scoped due to ShadowDOM usage.
  There are two ways to override them. This file is used for one of them.
  Another one is to set a custom class to File Uploader,
  and use CSS variables to update styles.

  See more: https://uploadcare.com/docs/file-uploader/styling/
 */

:host lr-simple-btn button {
  height: auto;
  padding: 10px 12px !important;
  font-family: monospace;
  line-height: 1;
  font-size: 16px;
  border: 1px solid var(--ui-control-border-color-default);
  border-radius: 8px;
  background: var(--ui-control-background-color);
  box-shadow: 0 0 16px 0 var(--ui-control-box-shadow-color);
  color: var(--ui-control-text-color);
}

:host lr-simple-btn lr-icon {
  display: none;
}

:host lr-simple-btn button:hover,
:host lr-simple-btn button:focus {
  background: var(--ui-control-background-color);
  outline: 3px solid var(--ui-control-outline-color-focus);
}

:host lr-simple-btn button:active {
  border-color: var(--ui-control-border-color-focus);
}
