.previews {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  margin-top: 12px;
}

.preview {
  position: relative;
}

.previewRemoveButton {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 18px;
  height: 18px;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  font-family: monospace;
  border: 1px solid #CBCDD7;
  border-radius: 8px;
  background: #fcfcfe;
  box-shadow: 0 0 16px 0 rgba(199, 215, 255, .5);
  color: #323236;
  cursor: pointer;

  &:hover, &:focus {
    background: rgba(253, 253, 255, 0.85);
    outline: 1px solid rgb(152, 203, 255);
  }
}

.previewImage {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}
