:host lr-simple-btn button {
  background-color: #f00;
}

:host lr-simple-btn button {
  height: auto;
  padding: 10px 12px !important;
  font-family: monospace;
  line-height: 1;
  font-size: 16px;
  border: 1px solid #CBCDD7;
  border-radius: 8px;
  background: #fcfcfe;
  box-shadow: 0 0 16px 0 rgba(199, 215, 255, .5);
  color: #323236;
}

:host lr-simple-btn lr-icon {
  display: none;
}

:host lr-simple-btn button:hover,
:host lr-simple-btn button:focus {
  background: #fcfcfe;
  outline: 3px solid rgb(152, 203, 255);
}

:host lr-simple-btn button:active {
  border-color: rgb(0, 89, 200);
}
