<!-- It's not so easy to load external CSS file as a static asset in Angular -->
<!-- Moreover Angular binds dynamic attributes async and we can't catch `css-src` value on connectedCallback -->
<!-- TODO: we should make a feature of awaiting for css-src before render of ShadowWrapper -->
<div class="wrapper">
  <lr-config
    ctx-name="my-uploader"
    pubkey="demopublickey"
    multiple="true"
    multipleMax="10"
    confirmUpload="true"
    sourceList="local, url, camera, dropbox, gdrive"
  ></lr-config>
  <lr-file-uploader-regular
    ctx-name="my-uploader"
    [attr.css-src]="cssSrc"
  >
  </lr-file-uploader-regular>
  <lr-data-output
    ctx-name="my-uploader"
    (lr-data-output)="handleUploaderEvent($event)"
    use-event
    hidden
  ></lr-data-output>

  <div class="output">
    <img
      *ngFor="let file of files"
      src="https://ucarecdn.com/{{ file.uuid }}/{{
        file.cdnUrlModifiers || ''
      }}-/preview/-/scale_crop/400x400/"
      width="200"
    />
  </div>
</div>
