<lr-config
  ctx-name="my-uploader"
  pubkey="a6ca334c3520777c0045"
></lr-config>
<lr-file-uploader-minimal
  ctx-name="my-uploader"
></lr-file-uploader-minimal>
<lr-upload-ctx-provider
  ctx-name="my-uploader"
  #ctxProvider
></lr-upload-ctx-provider>

<div class="previews">
  @for (file of files; track file.cdnUrl) {
    <div class="preview-wrapper">
      <img
        class="preview-image"
        src="{{ file.cdnUrl + '/-/preview/-/resize/x400/' }}"
        height="200"
        width="200"
        [alt]="file.fileInfo.originalFilename"
        [title]="file.fileInfo.originalFilename"
      />

      <p class="preview-data">
        {{ file.fileInfo.originalFilename }}
      </p>
      <p class="preview-data">
        {{ formatSize(file.fileInfo.size) }}
      </p>
    </div>
  }
</div>
