.previews {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 32px;
}

.preview-image {
  display: block;
  object-fit: cover;
}

.preview-title {
  margin-top: 4px;
}
