.previews {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  margin-top: 12px;
}

.preview {
  position: relative;
}

.previewRemoveButton {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 18px;
  height: 18px;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  font-family: monospace;
  border: 1px solid var(--ui-control-border-color-default);
  border-radius: 8px;
  background: var(--ui-control-background-color);
  box-shadow: 0 0 16px 0 var(--ui-control-box-shadow-color);
  color: var(--ui-control-text-color);
  cursor: pointer;

  &:hover, &:focus {
    background: var(--ui-control-background-color);
    outline: 1px solid var(--ui-control-outline-color-focus);
  }
}

.previewImage {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.root {
  uc-simple-btn button {
    height: auto;
    padding: 10px 12px !important;
    font-family: monospace;
    line-height: 1;
    font-size: 16px;
    border: 1px solid var(--ui-control-border-color-default);
    border-radius: 8px;
    background: var(--ui-control-background-color);
    box-shadow: 0 0 16px 0 var(--ui-control-box-shadow-color);
    color: var(--ui-control-text-color);
  }

  uc-simple-btn uc-icon {
    display: none;
  }

  uc-simple-btn button:hover,
  uc-simple-btn button:focus {
    background: var(--ui-control-background-color);
    outline: 3px solid var(--ui-control-outline-color-focus);
  }

  uc-simple-btn button:active {
    border-color: var(--ui-control-border-color-focus);
  }
}
