<div class="root">
  <header class="header">
    <h1 class="view-title">New blog post</h1>

    <label class="theme-toggle">
      <input
        type="checkbox"
        [checked]="theme === 'light'"
        (change)="handleThemeChange($event)"
      >
      <img
        [src]="theme === 'light' ? 'assets/sun.png' : 'assets/moon.png'"
        width="18"
        height="18"
        alt="Switch to {{theme === 'light' ? 'dark' : 'light'}} theme"
      />
    </label>
  </header>

  @if (!sentFormObject) {
    <form class="form" (submit)="handleFormSubmit($event)">
      <div class="field">
        <label class="label" for="title">Title</label>
        <input
          class="input"
          type="text"
          id="title"
          [formControl]="title"
        />
      </div>

      <div class="field">
        <label class="label" for="text">Text</label>
        <textarea
          class="input"
          id="text"
          rows="10"
          [formControl]="text"
        ></textarea>
      </div>

      <div class="field">
        <p class="label">Photos</p>
        <file-uploader
          uploaderClassName="file-uploader"
          [theme]="theme"
          [(files)]="photos"
        ></file-uploader>
      </div>

      <div class="field">
        <button class="button" type="submit">Publish</button>
      </div>
    </form>
  } @else {
    <pre class="result"><code>{{ sentFormObject | json }}</code></pre>
  }
</div>
